.megaContainer {
	height:540px;
	display:flex;
	flex-direction:column;
/*	justify-content:space-between;*/
	gap:25px;
	padding:5px;
	user-select:none;
	opacity:0;
	transform:translateY(-200px);
/*	overflow-y:scroll;*/
}

.boostAnim {
	opacity:1;
	transition:800ms;
	transform:translateY(0px);
}

.content1{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}
.content1 span a {
	color:whitesmoke;
	font-size:29px;

}

.content2 {
	align-self:center;
	font-size:11px;
	font-family:monospace;
	font-weight:bold;
	color:whitesmoke;
}

.content3 {
	align-self:center;
}

.content3 svg {
	font-size:25px;
	filter:drop-shadow(1px 1px 3px black);
	color:whitesmoke;
	animation:downAnim 2s linear infinite;
	transform:translateZ(0px);
}

@keyframes downAnim {
	0%{transform:translateY(-5px);}
	50%{transform:translateY(20px);}
	100%{transform:translateY(-5px);}
}

.content4 {
	width:100%;
	align-self:center;
}

.content4 input {
	width:100%;
	padding:6px;
	background-color:rgba(0, 0, 0, 0.3);
	border-radius:7px;
	color:whitesmoke;
	border:none;
	outline:none;
	transition:350ms;
}

.content4 input:focus{
	background-color:rgba(0, 0, 0, 0.7);
	border:none;
	outline:none;
}

.content5 {
	width:100%;
	align-self:center;
	display:flex;
	justify-content:center;

}

.content5 button {
	width:25%;
	background: rgb(249,228,34);
background: linear-gradient(0deg, rgba(249,228,34,0.2) 0%, rgba(3,2,1,0.2) 78%);
color:whitesmoke;
font-weight:bold;
font-family:monospace;
padding:3px;
border-radius:6px;
border:1px solid rgba(256, 256, 256, 0.5) ;
cursor:pointer;
}

.content6{
	width:100%;
	height:3px;
	border:1px dashed whitesmoke;
}

.content7 {
	font-size:14px;
	color:whitesmoke;
	font-family:monospace;
	font-weight:bold;
	opacity:0.7;
/*	align-self:center;*/
/*	text-align:center;*/
}