.megaContainer {
	width:100%;
	height:auto;
	display:flex;
	flex-direction:column;
	gap:20px;
	padding:10px;
	opacity:0;
	transform:translateY(150px);

}

.boostAnim {
	opacity:1;
	transition:800ms;
	transform:translateY(0px);
}


.content1{
	align-self:center;
/*	color:darkorange;*/
	color:lightgoldenrodyellow;

	user-select: none;
	font-family:monospace;
	font-size:25px;
/*	letter-spacing:2px;*/
	/*color: transparent; 
	background-clip: text;
background-image: linear-gradient(to right, red, fuchsia);
*/
}

/*.content1 h3{
	color: transparent; 
	background-clip: text;
background-image: linear-gradient(to right, red, fuchsia);
}
*/
.content2 {
	align-self:center;
	display:flex;
	flex-direction:row;
	gap:10px;
	font-weight:bold;

}

.content2 svg {
	align-self:center;
	color:goldenrod;
	font-size:23px;
}

.content2 h2 {
	align-self:center;
	font-size:17px;
	color:whitesmoke;
	user-select: none;
	transition:200ms;
}

.content3 {
	align-self:center;
	user-select:none;
	touch-action: manipulation;
	display:flex;
	flex-direction:column;
	gap:0;
}

.content3 svg {
	font-size:200px;
	color:goldenrod;
	filter:drop-shadow(1px 1px 15px #999);
	 -webkit-filter: drop-shadow(1px 1px 15px #999);
  -moz-filter:  drop-shadow(1px 1px 15px #999);
  -ms-filter:  drop-shadow(1px 1px 15px #999);
  -o-filter: drop-shadow(1px 1px 15px #999);
	cursor:pointer;
	user-select:none;
	-webkit-tap-highlight-color: transparent;
}

.contentAnim{
	display:flex;
	flex-direction:row;
	padding:0;
	gap:0;
	justify-content:center;
}

.content3 .miniPoint {
	align-self:center;
	opacity:0;
	color:whitesmoke;
/*	animation:none;*/
font-size:19px;
font-weight:bold;
/*transform:translateY(-150px)translateX(30px);*/
/*visibility:hidden;*/

}

.pointAnim1{
	animation:pointAnim1 500ms linear;
	
}

.pointAnim2{
	animation:pointAnim2 500ms linear;
	
}

.pointAnim3{
	animation:pointAnim3 500ms linear;
	
}

.pointAnim4{
	animation:pointAnim4 500ms linear;
}



@keyframes pointAnim1 {
	50%{transform:translateY(-200px)translateX(70px);opacity:1;}
	100%{transform:translateY(-150px)translateX(90px);opacity:0;}
}	

@keyframes pointAnim2 {
	50%{transform:translateY(-230px)translateX(-90px);opacity:1;}
	100%{transform:translateY(-180px)translateX(-110px);opacity:0;}
}	

@keyframes pointAnim3 {
	50%{transform:translateY(-230px)translateX(-90px);opacity:1;}
	100%{transform:translateY(-180px)translateX(-110px);opacity:0;}
}	

@keyframes pointAnim4 {
	50%{transform:translateY(-230px)translateX(60px);opacity:1;}
	100%{transform:translateY(-180px)translateX(90px);opacity:0;}
}	


.miniContent3 {
/*	font-size:39px;*/
/*	height:210px;*/
	align-self:center;
	font-weight:bold;
	font-family:monospace;
	color:goldenrod;
	user-select:none;
	display:flex;
	flex-direction:column;
	gap:20px;
}
.miniContent3 h3 {
	font-size:29px;
/*	filter:drop-shadow(1px 1px 15px #999);*/
}

.miniContent3 svg {
	font-size:150px;
	align-self:center;
/*	filter:drop-shadow(1px 1px 15px #999);*/
}

.animCoin {
	transform:scale(1.5);
	transition:350ms;

}

.miniContent{
	display:flex;
	flex-direction:column;
	gap:5px;

}



.turboMode{
	align-self:center;
	font-weight:bold;
	font-family:monospace;
	color:whitesmoke;
	
}

.turboContent {
	width:100%;
	height:7px;
	background-color:#999;
	border-radius:5px;
	transition:350ms;
	
}

.turboMiniContent {
	
	height:100%;
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(33,66,210,1) 0%, rgba(0,212,255,1) 70%);
	border-radius:5px;
	transition:100ms;
}
.second {
	align-self:center;
	color:whitesmoke;
	font-size:14px;
	font-weight:bold;
	user-select:none;
}

@media screen and (max-width:768px) {
	.content3{
		text-shadow:1px 1px 15px #999;
	}
}