.megaContainer {
	height:540px;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
/*	gap:25px;*/
	padding:5px;
	user-select:none;
	opacity:0;
	transform:translateY(-200px);
/*	overflow-y:scroll;*/
}

.container{
	display:flex;
	flex-direction:column;
	overflow-y:scroll;
	gap:35px;
	padding:5px;

}

.container::-webkit-scrollbar {
  width: 5px;
  color:black;
}

.container::-webkit-scrollbar-thumb {
    background-color: rgba(256, 256, 256, 0.5);
}

.container::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: goldenrod;
}

.boostAnim {
	opacity:1;
	transition:800ms;
	transform:translateY(0px);
}



.content1{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}
.content1 span a {
	color:whitesmoke;
	font-size:29px;

}

.miniBlock3 {
	display:flex;
	flex-direction:row;
	gap:5px;
	justify-content:center;
}

.miniBlock3 svg {
	color:goldenrod;
	align-self:center;
}

.miniBlock3 h3 {
	font-size:15px;
	align-self:center;
	color:whitesmoke;
	font-weight:bold;
	font-family:monospace;
}